/* General Styles */
body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #091d30;
    color: #faf5f5;
    margin: 20px;
    line-height: 1.6;
}

/* Headings */
h1 {
    color: #1e90ff;
    text-align: center;
}

h2 {
    color: #ff6347;
}

/* Paragraph and List */
p {
    font-size: 16px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* List Items */
ul li {
    margin: 5px 0;
}
